extends layout 

block content
    div 
        div
            h Stores
        br
        div
            if(stores)
                each store in stores 
                    a(href= `/shop/${userId}/stores/${store._id}`)
                        div
                            img(src=`${store.imagePath}`, alt=`${store.name}` width=200)
                            p Name: #{store.name}
                            p Description: #{store.description}
                            //- p Posted: #{product.timePosted.toLocaleTimeString()} on #{product.timePosted.toDateString()}
                            //- form(action=`/shop/${userId}/cart/add/${product._id}` method='POST')
                            //-     div
                            //-     button(type='submit' class="bg-green-600 text-white px-4 py-2 rounded-3xl border border-blue-900 hover:bg-green-800") Add to Cart


