extends layout 

block content
    div(class="grid grid-cols-4")
        if(stores)
            each store in stores
                //-store card
                div(class="col-span m-2 overflow-hidden shadow-xl hover:shadow-2xl hover:scale-105 transition ease-in-out duration-400")
                    a(href= `/shop/${userId}/stores/${store._id}`)
                        div
                            img(src=`${store.imagePath1}`, alt=`${store.name}` class="mx-auto w-full h-40 object-cover rounded-t-lg")
                            p(class="m-2 text-lg truncate") #{store.name}
                            p(class="m-2") #{store.description}
                                


