extends layout 

block content
    div(class="grid grid-cols-4 min-h-screen", style="width:1080px;")
        div(class="col-span-3 m-4")
            if(!stores)
                div(class="m-8 col-span-4 text-5xl text-white text-center leading-loose")
                    p No stores available at the moment. Try again later
            if(stores)
                    each store in stores
                        //-store card
                        div(class="mr-3 ml-3 overflow-hidden rounded-lg bg-gray-200 h-40 w-auto shadow-xl hover:shadow-2xl hover:scale-105 transition ease-in-out duration-400")
                            a(href= `/shop/${userId}/stores/${store._id}`)
                                div(class="flex")
                                    img(src=`${store.imagePath1}`, alt=`${store.name}` class="w-40 h-40 object-cover rounded-l-lg")
                                    div(class="ml-4 w-96")
                                        p(class="mb-2 mt-2 text-xl font-bold truncate") #{store.name}
                                        p(class="mb-2 font-bold text-lg truncate") #{store.category}
                                        p(class="mb-2 break-words") #{store.description}

        div(class="col-span-1 bg-white min-h-screen" style="width:auto;")
            div(class="m-3")
                h(class=" text-lg font-bold") Information 
                ul(class="list-disc p-2")
                    li(class="mb-2") On this page, you find stores by other people.
                    li Your stores don't appear on this page.
                                


