extends layout 

block content
    div 
        each product in products 
            a(href= `/shop/${userId}/products/${product._id}`)
                div
                    img(src=`${product.imagePath1}`, alt=`${product.name}` width=200)
                    p Name: #{product.name}
                    p Description: #{product.description}
                    p Price: #{product.currency} #{product.formattedPrice}
                    p Posted: #{product.timePosted.toLocaleTimeString()} on #{product.timePosted.toDateString()}