extends layout 

block content
    div(class="grid grid-cols-4")
        if(!chats)
            div(class="m-8 col-span-4 text-5xl text-[#30335f] text-center leading-loose")
                p No Chats at the moment.
        if(chats)
            div(class="col-span-3 border-r-2 border-r-red-600 w-auto")
                each chat in chats
                    div(class="m-4 p-4 overflow-hidden rounded-lg bg-gray-200 h-auto shadow-xl hover:shadow-2xl hover:scale-105 transition ease-in-out duration-400")
                        a(href= `/shop/${userId}/products/${chat.chatId.substr(0,24)}/message/${chat.chatId}`)
                            div(class="flex")
                                img(src=`${chat.storeImagePath}`, alt=` ` class="w-20 h-20 object-cover rounded-full")
                                div(class="ml-6")
                                    div(class="flex justify-between")
                                        p(class="font-bold truncate") #{chat.storeName}
                                        p(class=" text-gray-700") #{chat.time.toLocaleTimeString()}
                                    p(class="text-sm font-bold truncate") #{chat.productName}
                                    p(class=" text-gray-700 break-words truncate") #{chat.latestMessage}
                                    

                        
                        //- div
                        //-     p chat id #{currentChatId}
                        //-     p product id #{productId}
                        //-     p image link #{imagesrc}
                        
                        
                            

                            //- p Posted: #{product.timePosted.toLocaleTimeString()} on #{product.timePosted.toDateString()}
                            //- form(action=`/shop/${userId}/cart/add/${product._id}` method='POST')
                            //-     div
                            //-     button(type='submit' class="bg-green-600 text-white px-4 py-2 rounded-3xl border border-blue-900 hover:bg-green-800") Add to Cart

            div(class="col-span-1 bg-white w-full h-screen")
                    div(class="m-3")
                        h(class=" text-lg font-bold") Information 
                        ul(class="list-disc p-2")
                            li(class="mb-2") Chat with the store and discuss how you can get the products to you.