extends layout 

block content
    div(class="grid grid-cols-4")
        if(!chats)
            div(class="m-8 col-span-4 text-5xl text-[#30335f] text-center leading-loose")
                p No Chats at the moment.
        if(chats)
            div(class="col-span-3 m-4")
                each chat in chatsIds
                    each chatData in chats
                        - const currentChatId = chat.chatId
                        - const productId = chat.chatId.substr(0,24)
                        - const imagesrc = chatData

                        div(class="m-6 overflow-hidden rounded-lg bg-gray-200 h-40 w-auto shadow-xl hover:shadow-2xl hover:scale-105 transition ease-in-out duration-400")
                            a(href= `/shop/${userId}/products/${productId}/message/${currentChatId}`)
                                div(class="flex")
                                    img(src=`${imagesrc}`, alt=` ` class="w-40 h-40 object-cover rounded-l-lg")
                                    div(class="ml-8 w-96")

                            
                            //- div
                            //-     p chat id #{currentChatId}
                            //-     p product id #{productId}
                            //-     p image link #{imagesrc}
                            
                            
                               

                                //- p Posted: #{product.timePosted.toLocaleTimeString()} on #{product.timePosted.toDateString()}
                                //- form(action=`/shop/${userId}/cart/add/${product._id}` method='POST')
                                //-     div
                                //-     button(type='submit' class="bg-green-600 text-white px-4 py-2 rounded-3xl border border-blue-900 hover:bg-green-800") Add to Cart

            div(class="col-span-1 bg-white w-full h-screen")
                    div(class="m-3")
                        h(class=" text-lg font-bold") Information 
                        ul(class="list-disc p-2")
                            li(class="mb-2") Chat with the store and discuss how you can get the products to you.