html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Shop
    body
        nav 
            a(href=`/shop/${userId}`) Home
            a(href=`/shop/${userId}/products/create`) Create Product
            a(href=`/shop/${userId}/products`) My Products
            a(href=`/shop/${userId}/cart`) Cart
            a(href='/auth/logout') Logout

        form(action=`/shop/${userId}/products/search`, method='GET')
            input(type='text', name='q', placeholder='Search products...')
            button(type='submit') Search
        if(searchTerm)
            h Showing Results for #{searchTerm}
        br
        main 
        block content