extends layout 

block content
    div
        div
            div(class="relative")
                img(src=`${stores.imagePath2}`, alt=`${stores.name}` class="w-screen h-40 object-cover")
                div(class="absolute bottom-0 mt-8 ml-4 border bg-gray-300 rounded-2xl")
                    img(src=`${stores.imagePath1}`, alt=`${stores.name}` class="w-20 h-20 rounded-2xl p-1")

            div(class="bg-[#3a3d72] p-2 mb-1")
                p(class="text-xl m-2 text-white") #{stores.name}
                p(class="m-2 text-white") #{stores.description}
            
            //-p Posted: #{product.timePosted.toLocaleTimeString()} on #{product.timePosted.toDateString()}
        //- div(class="m-2")
        //-     form(action=`/shop/${userId}/myStores/${stores._id}/products/create` method='GET')
        //-         div
        //-             button(type='submit' class="bg-green-600 hover:bg-green-900 text-white p-1.5 rounded-lg ")
        //-                 <svg class='w-4 md:w-5 inline-block' xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        //-                     <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 7.5h-.75A2.25 2.25 0 0 0 4.5 9.75v7.5a2.25 2.25 0 0 0 2.25 2.25h7.5a2.25 2.25 0 0 0 2.25-2.25v-7.5a2.25 2.25 0 0 0-2.25-2.25h-.75m0-3-3-3m0 0-3 3m3-3v11.25m6-2.25h.75a2.25 2.25 0 0 1 2.25 2.25v7.5a2.25 2.25 0 0 1-2.25 2.25h-7.5a2.25 2.25 0 0 1-2.25-2.25v-.75" />
        //-                 </svg> Post Product


    div(class="inline-block")
        div(class="grid grid-cols-4")
            each product in products
                div(class="col-span-1 m-2 bg-gray-300 rounded-lg  shadow-xl hover:shadow-2xl hover:scale-105 transition ease-in-out duration-400")
                    a(href= `/shop/${userId}/products/${product._id}`)
                        div
                            img(src=`${product.imagePath1}`, alt=`${product.name}` class="mx-auto w-full h-40 rounded-t-lg object-cover")
                            p(class="m-2 text-lg truncate text-black") #{product.name}
                            //-p Description: #{product.description}
                            p(class="m-2 truncate text-black") #{product.currency} #{product.formattedPrice}
                            //-p Posted: #{product.timePosted.toLocaleTimeString()} on #{product.timePosted.toDateString()}
                    //- submit button
                    div(class="m-2")
                        form(action=`/shop/${userId}/cart/add/${product._id}` method='POST')
                            button(type='submit' class="addToCart")
                                div(class="shadow-md hover:shadow-2xl")
                                    <svg class='w-4 md:w-5 inline-block' xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                    </svg> Add to Cart


