extends layout 

block content
    div 
        if(stores)
            each store in stores 
                a(href= `/shop/${userId}/myStores/${store._id}`)
                    div
                        img(src=`${store.imagePath}`, alt=`${store.name}` width=200)
                        p Name: #{store.name}
                        p Description: #{store.description}
         
                        //-p Posted: #{product.timePosted.toLocaleTimeString()} on #{product.timePosted.toDateString()}
        div
            form(action=`/shop/${userId}/myStores/create` method='GET')
                div
                    button(type='submit' class="bg-green-600 text-white px-4 py-2 rounded-3xl border border-blue-900 hover:bg-green-800") Create Store


